<footer class="footer">
  <div class="footer">
    <p class="text-muted">&copy; Socket 2018 | <a href="/user/login">Login</a> | <a href="/user/signup">New User</a></p>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="socket.io/socket.io.js"></script>
 <script rel="script" src="/js/index.js"></script>
</body>

</html>
