{{> header}}
<div class='row'>

      <div style='width: 30%; margin: 25px auto;'>
          <form action='/user/signup' method='post'>
              <div class='form-group'>
                <h1>Sign Up</h1>
                  <input class='input is-large' type='text' name='username' placeholder='username'>
              </div>
              <div class='form-group'>
                  <input class='input is-large' type='password' name='password' placeholder='password'>
              </div>
              <div class='form-group'>
                  <button  class='button is-block is-info is-large is-fullwidth'>Sign Up!</button>
              </div>
          </form>
          <a href='/'>Go Back</a>
      </div>
  </div>
